# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

# Some test files
tests/visual_tests/FTP_test/FTP_test_files*
tests/visual_tests/Highlighting_test_files*
tests/visual_tests/MathJax_test_files*
*.html
*.md
*.docx